<h1>Adicionar Carro</h1>

<form action="/users/save" method="post">
    <div class="col-md-4 ">
        <label for="marca" class="form-label">Marca:</label>
        <input type="text" name="marca" class="form-control">
    </div>
    <div class="col-md-4 ">
        <label for="pot" class="form-label">Potência:</label>
        <input type="text" class="form-control" name="pot">
    </div>
    <div class="col-md-4 ">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" name="nome">
    </div>
    <div class="col-md-4 ">
        <label for="cor" class="form-label">Cor:</label>
        <input type="text" class="form-control" name="cor">
    </div>
    <div class="col-md-4 ">
        <label for="ano" class="form-label">Ano de Fabricação:</label>
        <input type="text" class="form-control" name="ano">
    </div>
    <br>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Inscrever</button>
    </div>
</form>
<br>
<div class="col-3">
    <a href="/">Home</a>
</div>